<div class="w-80 bg-gray-200 h-full p-4">
    <div>
        <h2 class="font-bold mb-2">Meeting</h2>
        <app-meeting-dropdown (meetingSelected)="onMeetingSelected($event)"></app-meeting-dropdown>
    </div>

    <div *ngIf="meetingKey">
        <h2 class="font-bold mb-2 mt-5">Session</h2>
        <app-session-dropdown [meetingKey]="meetingKey" (sessionSelected)="onSessionSelected($event)"></app-session-dropdown>
    </div>

    <div *ngIf="meetingKey && sessionKey">
        <h2 class="font-bold mb-2 mt-5">Drivers</h2>
        <app-drivers-list [meetingKey]="meetingKey" [sessionKey]="sessionKey"></app-drivers-list>
    </div>
</div>